<!DOCTYPE html>
<html lang='pt-BR'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <link rel='shortcut icon' type='image/x-icon' href='/img/favicon.ico'>
  <link rel='stylesheet' href='/libs/normalize-8.0.1/normalize.min.css'>
  <link rel='stylesheet' href='/libs/fontawesome-5.12.0/css/all.min.css'>
  <link rel='stylesheet' href='/css/styles.css'>
  <title>Semana do Sono - Resultados</title>
</head>
<body>
  <header>
    <img class='logo' src='/img/logo.jpg' alt='Logo da Associação Brasileira do Sono'>
  </header>
  <main>
    <a id='logout' class='logout'>Logout</a>
    <form id='report' class='report'>
      <h4 class='report__title'>Faça o download dos resultados</h4>
      <div class="filters">
        <div class='filter'>
          <h4 class='filter__title'>Ano do Formulário:</h4>
          <select class='filter__selector' name='year'>
            <option value='2020'>Último Ano</option>
            <option value='2020'>2020</option>
          </select>
        </div>
        <div class='filter'>
          <h4 class='filter__title'>Estado das Respostas:</h4>
          <select class='filter__selector' name='state'>
            <option value='ALL'>Todos os estados</option>
            <option value='SP'>São Paulo</option>
          </select>
        </div>
        <div class='filter'>
          <h4 class='filter__title'>Termos de Uso:</h4>
          <select class='filter__selector' name='acceptTerms'>
            <option value='-1'>Ambos</option>
            <option value='1'>Aceitou</option>
            <option value='0'>Não aceitou</option>
          </select>
        </div>
      </div>
      <button class='report__trigger' type='submit'>Gerar CSV</button>
    </form>
    <svg class='background' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'>
      <defs>
        <linearGradient id='grad' x1='0%' y1='0%' x2='0%' y2='100%'>
          <stop offset='0%' style='stop-color: #396cae; stop-opacity: 1'/>
          <stop offset='100%' style='stop-color: #362c62; stop-opacity: 1'/>
        </linearGradient>
      </defs>
      <path fill='url(#grad)' fill-opacity='1' d='M0,64L48,85.3C96,107,192,149,288,176C384,203,480,213,576,186.7C672,160,768,96,864,69.3C960,43,1056,53,1152,69.3C1248,85,1344,107,1392,117.3L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'></path>
    </svg>
    <div class='company'>
      <div class='company__address'>
        <i class='company__icon fas fa-map-marked-alt'></i>
        <div>
          <p>Rua Pamplona, 788, Sala 32</p>
          <p>Jardim Paulista, São Paulo - SP</p>
          <p>CEP: 01405-001</p>
        </div>
      </div>
      <div class='company__phone'>
        <i class='company__icon fas fa-phone-alt'></i>
        <p>11 5081 4659</p>
      </div>
      <a class='company__email' href='mailto:absono@absono.com.br'>
        <i class='company__icon fas fa-envelope'></i>
        <p>absono@absono.com.br</p>
      </a>
    </div>
  </main>
  <footer>
    <p>Associação Brasileira do Sono &middot;&nbsp;</p>
    <p>Copyright ® 2020 &middot;&nbsp;</p>
    <p>Todos os direitos reservados.</p>
  </footer>

  <% if (cookie != null) { %>    
    <script>document.cookie = cookie</script>
  <% } %>
  <script src='/libs/axios-0.19.2/axios.min.js'></script>
  <script src='/js/main.js'></script>
</body>
</html>