body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 360px;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8%;
  min-height: 60px;
  background-color: #fff;
  z-index: 9999;
}

.logo {
  width: 100%;
  max-width: 496px;
  height: inherit;
  min-height: inherit;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 89%;
  min-height: 700px;
  position: relative;
  background: linear-gradient(to left, #396cae, #62adcf);
}

main::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(15% + 1px);
  background: linear-gradient(to top, #0d2a49, #362c62);
}

.background {
  position: absolute;
  bottom: 15%;
  width: 100%;
}

.hero__title, .hero__subtitle {
  position: absolute;
  z-index: 9999;
}

.hero__title {
  top: 0;
  color: #362c62;
  font-size: 4rem;
}

.hero__subtitle {
  top: 20%;
  left: 0;
  color: #30287b;
  margin: 0 25%;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: .05em;
}

.login {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 30%;
  min-height: 100px;
  border-radius: 1em;
  background-color: #fff;
  padding: 0 2em;
  font-size: 1.1rem;
  letter-spacing: .05em;
  color: #30287b;
  z-index: 9999;
  border: 1px solid #0d2a49;
}

.login__title {
  margin-bottom: 10%;
  white-space: nowrap;
}

.login__field {
  padding: 1em 1.5em;
  width: 100%;
  border-radius: 1em;
  border: 1px solid #0d2a49;
  outline: none;
}

.login__field::placeholder {
  color: #30287b;
}

.company {
  position: absolute;
  bottom: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.company__address,
.company__phone,
.company__email {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 9999;
}

.company__address,
.company__phone {
  margin-right: 5em;
}

.company__icon {
  font-size: 3rem;
  margin-right: .5em;
}

.logout {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em 1em 0 0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  color: #30287b;
  z-index: 9999;
  background-color: #fff;
  padding: .5em .75em;
  border-radius: .5em;
  border: 1px solid #0d2a49;
  outline: none;
}

.report {
  position: absolute;
  top: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #362c62;
  z-index: 9999;
}

.report__title {
  font-size: 3rem;
  margin-bottom: 1em;
  text-align: center;
}

.report__trigger {
  margin-top: 2em;
  width: 12em;
  height: 3em;
  border-radius: 0.5em;
  font-weight: 700;
  color: #30287b; 
  border: 1px solid #0d2a49;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.filters {
  display: flex;
  justify-content: center;
}

.filter {
  margin-right: 5em;
  text-align: center;
}

.filter:last-of-type {
  margin-right: 0;
}

.filter__title {
  margin-bottom: .5em;
  font-size: 1.1rem;
  color: #362c62;
}

.filter__selector {
  width: 12em;
  height: 2em;
  border-radius: .5em;
  padding-left: .5em;
  background-color: #fff;
  color: #30287b;
  border: 1px solid #0d2a49;
  outline: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  height: 3%;
  min-height: 25px;
  background-color: #fff;
  color: #30287b;
  font-size: 0.75rem;
  z-index: 9999;
}

@media only screen and (max-width: 1600px) {
  .login {
    width: 30%;
  }

  main::after {
    height: calc(20% + 1px);
  }
  
  .background {
    bottom: 20%;
  }
}

@media only screen and (max-width: 1200px) {
  .login {
    width: 35%;
  }

  main::after {
    height: calc(25% + 1px);
  }
  
  .background {
    bottom: 25%;
  }

  .hero__subtitle {
    margin: 0 20%;
  }
}

@media only screen and (max-width: 1024px) {
  .login {
    width: 45%;
  }

  main::after {
    height: calc(30% + 1px);
  }
  
  .background {
    bottom: 30%;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__subtitle {
    top: 17.5%;
  }

  .company {
    bottom: 0;
    flex-direction: column;
    align-items: start;
  }

  .company__address,
  .company__phone,
  .company__email {
    margin-right: 0;
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 768px) {
  .login {
    width: 55%;
  }

  main::after {
    height: calc(35% + 1px);
  }
  
  .background {
    bottom: 35%;
  }

  .hero__subtitle {
    top: 15%;
    margin: 0 15%;
  }

  .filter {
    margin-right: 2em;
  }
}

@media only screen and (max-width: 600px) {
  .login {
    width: 75%;
  }

  .login__field {
    padding: 1em;
  }

  main::after {
    height: calc(40% + 1px);
  }
  
  .background {
    bottom: 40%;
  }

  .hero__subtitle {
    font-size: 1rem;
    letter-spacing: .075em;
  }

  .filters {
    flex-direction: column;
  }

  .filter {
    margin-right: 0;
    margin-top: 1em;
  }

  .filter:first-child {
    margin-top: 0;
  }

  .report__title {
    margin-bottom: .25em;
  }

  footer {
    min-height: 50px;
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  .hero__title {
    font-size: 2.5rem;
  }

  .hero__subtitle {
    top: 12.5%;
  }

  .login__title {
    font-size: 1.2rem;
  }

  .report__title {
    font-size: 2.75em;
  }
}